<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
{% if msg == "manager" %}
    {% if employee_list %}
        <ul>
            {% for employee in empolyee_list%}
                <li>
                    <a href="{% url 'EmployeeAppraisalapp:feedback' %}">
                    <h3>{{employee.user}}</h3></a>

                </li>
            {% endfor %}
        </ul>
    {%else%}
        <p>No Employee is Assigned to You</p>
    {%endif%}
{%else%}
    {% if feedback %}
    <ul>
            {% for feed in feedback%}
                <li>
                    <h3>{{feed.year}}</h3><br>
                    <h3>{{feed.employee_score}}</h3><br>
                    <h3>{{feed.manager_comment}}</h3><br>
                </li>

            {% endfor %}
        </ul>
    {%else%}
    <p>No feedback is given yet</p>
    {%endif%}
{%endif%}
<br><br><br>
 <button><a href="{% url 'logout' %}">Logout</a></button>
</body>
</html>
